body {
  background: lightgrey;
  color: black;
}

header {
  background: lightgrey;
  color: black;
}

#aboutDescription
{
  height: 100px;
  max_height: 100px;
}

textarea {
  overflow-y: scroll;
  height: 200px;
  cols: 100 
}
